<div class="h-screen p-8">
  <div class="h-full">
    <% @child_categories.each do |cat| %>
        <%=
          render 'shared/swiper_link',
          category: cat,
          given_path: child_category_path(cat)
        %>
    <% end %>
  </div>
</div>
