<div id="home-container">
  <div id="home-infos">
    <h1>Paul Portier</h1>
  </div>
  <div id="pro-container">

      <!-- Swiper -->
            <%= link_to parent_category_path("Pro") do %>
      <div class="pro-swiper-container">
        <div class="swiper-wrapper">
          <% @photospro.shuffle.each_with_index do |photopro, i| %>
              <div class="swiper-slide" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.6)), url('<%= url_for(photopro.photo) %>');"></div>
          <% end %>
        </div>
      </div>
            <% end %>

  </div>
  <div id="project-container">

      <!-- Swiper -->
      <div class="project-swiper-container">
        <div class="swiper-wrapper">
          <% @photosproject.shuffle.each_with_index do |photoproject, i| %>
            <div class="swiper-slide" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.0)), url('<%= url_for(photoproject.photo) %>');"></div>
          <% end %>
        </div>
      </div>

  </div>
</div>

<script>
    var swiper = new Swiper('.pro-swiper-container', {
    loop: true,
    speed: 1800,
    effect: 'fade',
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    }
  });
  var swiper = new Swiper('.project-swiper-container', {
    loop: true,
    speed: 1800,
    effect: 'fade',
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    }
  });
</script>
